<div class="card mb-4">
  <div class="card-body bg-light">

    <div class="card-title">

      <div class="text-muted float-right"><strong>ISBN:</strong> {{ book.isbn }}</div>
      <h3>
        {{ book.title }}
      </h3>

    </div>

    <p class="text-muted">
      <span *ngFor="let a of book.authors; last as l">
        {{ a.name }}<ng-container *ngIf="!l">, </ng-container>
      </span>
    </p>

    <a [routerLink]="['/book', book.isbn]" class="btn btn-primary">Details</a>

  </div>
</div>
