<h2>Buch erzeugen</h2>

<form [formGroup]="bookForm" class="mb-4" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">

    <div class="feedback-red" *ngIf="isInvalid('isbn')">
  	  ISBN ist ungültig:
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'required')">
      Bitte geben Sie eine ISBN an.
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'minlength')">
      Die ISBN ist zu kurz.
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'pattern')">
      Bitte geben Sie nur Ziffern an.
    </div>
  </div>

  <div class="form-group">
    <label for="title">Titel</label>
    <input formControlName="title" type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Beschreibung</label>
    <textarea formControlName="description" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">

    <a class="btn btn-secondary mr-4" routerLink="/dashboard">← Zurück</a>

    <button
      [disabled]="bookForm.invalid"
      type="submit" class="btn btn-primary">Abschicken</button>
  </div>

</form>
